exclude .gitignore
include arachnea.py
include create_db_tables.sql
recursive-include arachnea *.py
recursive-include docs *.html
include LICENSE
include README.md
include requirements.txt
include setup.py
